@charset "UTF-8";
.body {
	background-image: url(../Images/Dublin_Stephen%27s_Green.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	width: auto;
	margin: 0;
	height: 100%;
}

h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-shadow: 4px 5px 17px #000000;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
}
footer {
	font-size: small;
	position: fixed;
	bottom: 0px;
	margin-top: 3%;
	margin-top: 3%;
	height: 50px;
	width: 188px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-left: 43.5%;
}

.asideleft {
	margin-right: 5%;
	margin-left: 10%;
	margin-top: 30px;
	float: left;
}
.selectionright {
	width: 55%;
	float: right;
	margin-right: 0%;
	margin-top: 30px;
	margin-left: 1%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 100px;

}

.header {
	text-align: center;
	margin-top: 20px;


}

.header1 {
	text-align: center;
	margin-top: 20px;


}

.divtext {
	margin-top: 3%;
	margin-top: 3%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 87px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	width: 470px;
	/* [disabled]min-width: 0px; */
	height: auto;
	margin-left: 35%;
	margin-right: 65%;
	padding-right: 2.5%;
}

.divtext2 {
	margin-top: 3%;
	margin-right: 5%;
	margin-top: 3%;
	margin-left: 5%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 87px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	height: 70%;
}

.divtext3 {
	margin-top: 3%;
	margin-right: 5%;
	margin-top: 3%;
	margin-left: 25%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	height: 550px;
	position: fixed;
	width: 50%;
	bottom: 7%;
}

.nav {
	background-color: #EEEEEE;
}
.navlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

.navlistitem {
	/*float: left;*/
	

}
.navlistitem a{
	text-decoration: none;
	display: block;
	padding-top: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	color: #BCB8B8;
}
.navlistitem a:hover  {
	color: black;
	background-color: #368A7B;
}
.container-fluid .navbar-header .navbar-brand {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	color: #4A7E66;
}
.divcarousel {
	margin-top: 3%;
}



/**/


@media (max-width: 650px){
	.asideleft {
	margin-top: 30px;
	float: none;
	width: 450px;
}
	
.selectionright {
	width: 100%;
	margin-right: 5%;
	margin-top: 100px;
	margin-left: 5%;
	
}
h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-shadow: 4px 5px 17px #000000;
}
.header {
	margin-top: 30px;
	
}
.body {
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	width: auto;
	margin: 0;
	height: 100%;
}
.body .selectionright .smallpensamento {
	padding-left: 30%;
}
.body .divtext {
	width: 450px;
	margin-left: 5%;
	margin-right: 5%;








	padding-left: 25
$
$;
	padding-right: 25
$
$;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
}
.body footer {
	margin-top: 3%;
	margin-right: 10%;
	margin-top: 3%;
	margin-left: 20%;
}
.body .divtext3 {
	bottom: 10px;
	top: 15%;
	height: auto;
}
.body .selectionright .eu {
	width: 50%;
	height: auto;
}
.body .asideleft img {
	width: 50%;
	height: auto;
	margin-left: 30%;
	margin-right: 30%;
}







	
	
}
.formstyle {
	width: 100%;
}
.logo {
	width: 28%;

}

.logo1 {
	width: 10%;

}

.text {
	text-shadow: 4px 5px 17px #000000;
	font-size: large;

}
.pensamento {
	font-style: italic;
	color: #3C763D;
	text-shadow: 4px 5px 17px #ffffff;
}
.smallpensamento {
	font-style: italic;
	color: #000000;
	text-shadow: 4px 5px 17px #ffffff;
	font-weight: bold;
	font-size: medium;
	text-align: right;
	padding-left: 50%;
}
.eu {
	float: left;
	border-radius: 25%;




}

/*footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover {
    background-color: orangered;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoInstagram:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.social-circle i {
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}







/*
	contact form
*/




/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}


/* ===========================
   ====== gallery ====== 
   =========================== */

  .wrap {
       overflow: hidden;
       margin: 10px;
    }
    .box {
	float: left;
	position: relative;
	width: 20%;
	padding-bottom: 20%;
    }
    .boxInner {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: hidden;
	background-image: -webkit-linear-gradient(270deg,rgba(60,118,61,1.00) 0%,rgba(60,118,61,1.00) 51.30%,rgba(255,255,255,0.76) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(60,118,61,1.00) 0%,rgba(60,118,61,1.00) 51.30%,rgba(255,255,255,0.76) 100%);
	background-image: -o-linear-gradient(270deg,rgba(60,118,61,1.00) 0%,rgba(60,118,61,1.00) 51.30%,rgba(255,255,255,0.76) 100%);
	background-image: linear-gradient(180deg,rgba(60,118,61,1.00) 0%,rgba(60,118,61,1.00) 51.30%,rgba(255,255,255,0.76) 100%);
	border-radius: 25%;
    }
    .boxInner img {
       width: 100%;
    }
    .boxInner .titleBox {
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       margin-bottom: -50px;
       background: #000;
       background: rgba(0, 0, 0, 0.5);
       color: #FFF;
       padding: 10px;
       text-align: center;
       -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
       transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }
    
    .selectableImageContainer {
    border: 1px solid #CCC;
    padding: 5px;
    margin: 7px;
    float: left;
    width: 212px;
    text-align: center;
}

.zoom_toolbar_button {
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 6px 0 0 3px;
}

.approved_image_toolbar_button {
    background-color: #8bc249;
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    padding: 6px 0 0 3px;
}

.disapproved_image_toolbar_button {
    background-color: #bb232a;
    height: 32px;
    width: 32px;
    float: right;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: 8px;
    cursor: pointer;
    padding: 6px 0 0 1px;
}

.reviewIssuesButton {
    margin-left: 20px;
    color: #ffffff;
    background-color: #00aeef;
}

.markAllReviewed {
    background-color: #00aeef;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ffffff;
}

.white {
    color: #ffffff;
}
.galeriatext {
	margin-top: 15%;
}

@media (max-width:360px){
.body footer {
	width: 189px;
	left: 5%;
	margin-left: 5%;
}
.body .selectionright .eu {
	width: 50%;
	height: auto;
}
.body .asideleft img {
	height: 20%;
}
.body .selectionright {
	width: 340px;
	margin-right: 10px;
	margin-left: 10px;
}
.body .divtext3 {
	top: 10%;
	bottom: 10px;
}





}
