@charset "UTF-8";
.body {
	background-image: url(../Images/Dublin_Stephen%27s_Green.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	width: auto;
	margin: 0;
	height: 100%;
}

h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-shadow: 4px 5px 17px #000000;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
}
footer {
	font-size: small;
	position: fixed;
	bottom: 0px;
	margin-top: 3%;
	margin-right: 5%;
	margin-top: 3%;
	margin-left: 40.5%;	
	height: 50px;
	width: 290px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.body {
}

.header {
	text-align: center;
	margin-top: 20px;


}
.divtext {
	margin-top: 3%;
	margin-top: 3%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 87px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	width: 470px;
	/* [disabled]min-width: 0px; */
	height: auto;
	margin-left: 35%;
	margin-right: 65%;
	padding-right: 2.5%;
}

.divtext2 {
	margin-top: 3%;
	margin-right: 5%;
	margin-top: 3%;
	margin-left: 5%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 87px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.59) 100%);
	height: 70%;
}

.nav {
	background-color: #EEEEEE;
}
.navlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

.navlistitem {
	/*float: left;*/
	

}
.navlistitem a{
	text-decoration: none;
	display: block;
	padding-top: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	color: #BCB8B8;
}
.navlistitem a:hover  {
	color: black;
	background-color: #368A7B;
}
.container-fluid .navbar-header .navbar-brand {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	color: #4A7E66;
}
.divcarousel {
	margin-top: 3%;
}



/**/


@media (max-width: 650px){
	.asideleft {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
	float: none;
}
	
.selectionright {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 5%;
	
}
h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-shadow: 4px 5px 17px #000000;
}
.header {
	margin-top: 30px;
	
}
.body {
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	width: auto;
	margin: 0;
	height: 100%;
}
.body .selectionright .smallpensamento {
	padding-left: 30%;
}
.body .divtext {
	width: 450px;
	margin-left: 5%;
	margin-right: 5%;








	padding-left: 25
$
$;
	padding-right: 25
$
$;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
}
.body footer {
	margin-top: 3%;
	margin-right: 10%;
	margin-top: 3%;
	margin-left: 20%;
}




	
	
}
.formstyle {
	width: 100%;
}
.logo {
	width: 28%;

}
.text {
	text-shadow: 4px 5px 17px #000000;
	font-size: large;

}
.pensamento {
	font-style: italic;
	color: #3C763D;
	text-shadow: 4px 5px 17px #ffffff;
}
.smallpensamento {
	font-style: italic;
	color: #000000;
	text-shadow: 4px 5px 17px #ffffff;
	font-weight: bold;
	font-size: medium;
	text-align: right;
	padding-left: 50%;
}
.eu {
	float: left;




}

/*footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover {
    background-color: orangered;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoInstagram:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.social-circle i {
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}







/*
	contact form
*/




/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}
